@model Blog.WebUI.Models.AddBlog

<div class="container center-align">
    <h2 class="red-text">Создание блога</h2>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container center-align">
        <h4 class="red-text">@Html.ValidationSummary(true)</h4>
    </div>
    <div class="row">
        <div class="z-depth-1 col s12 m6 l4 offset-m3 offset-l4 white" style="padding: 20px;">
            <div class="container center-align">
                <h5 class="red-text">@Html.ValidationMessageFor(model => model.Title)</h5>
            </div>
            <div class="input-field">
                @Html.LabelFor(model => model.Title, "Заголовок")
                @Html.EditorFor(model => model.Title)
            </div>
            <div class="container center-align">
                <h5 class="red-text">@Html.ValidationMessageFor(model => model.Description)</h5>
            </div>
            <div class="input-field">
                @Html.LabelFor(model => model.Description, "Описание")
                @Html.TextAreaFor(model => model.Description, new { @class = "materialize-textarea" })
            </div>
            <div class="container center-align">
                <button class="waves-effect waves-light btn light-blue accent-3" type="submit" name="action">Создать</button>
            </div>
        </div>
    </div>
}
    </div>
